       
        </main>
        <footer>
            &copy; <%= new Date().getFullYear() %> Celmin. All Rights Reserved.
        </footer>

        <script src="/js/script.js"></script>
    </body>
</html>