@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-dark: #121212;
    --bg-light-dark: #212121;
    --text-muted:#b3b3b3;
    --accent: #1db954;
    --text-primary: #ffffff; 
    --text-secondary: #b3b3b3;
}

@font-face {
    font-family: "CircularSpotify";
    src: url("/fonts/CircularSpotifyText-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnowyNight';
    src: url('/fonts/SnowyNight-YqKna.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Darling';
    src: url('/fonts/DarlingtonDemo-z8xjG.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    height: 100vh;
    background-color: var(--bg-dark);
    font-family: "CircularSpotify", sans-serif;
    display: flex;
    flex-direction: column;
}